#weatherContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(252, 252, 252, 1);
  box-shadow: 5px 7px 19px -10px #110d04;
  height: 100%;
  padding: 1.8rem 6rem;
  margin: 0 auto;
  border-radius: 25px;
}

.searchContainer {
  position: relative;
  height: 100px;
  border-bottom: 1px dotted var(--color-one);
  position: relative;
}

#searchInput {
  border: none;
  outline: none;
  background-color: inherit;
  border-bottom: 2px solid var(--color-one);
  overflow: hidden;
  width: 100%;
}

#searchInput:focus {
  background-color: var(--color-four);
}

.searchContainer > ul {
  list-style: none;
  z-index: 3;
  cursor: default;
  position: absolute;
  width: 100%;
}

.weatherData {
  height: 75%;
  position: relative;
  text-align: center;
}

.weatherData > div {
  display: flex;
}

.weatherData > div > span {
  margin-top: 1.5rem;
  flex-wrap: wrap;
}

.weatherData > div > span:nth-child(1) {
  border-bottom: 2px dotted var(--color-one);
  flex: 2;
  text-align: left;
}

.weatherData > div > span:nth-child(2) {
  text-align: right;
  background-color: var(--color-one);
  font-size: 1.2rem;
  color: var(--color-four);
  padding: 5px 5px 0 5px;
  margin-left: 10px;
  flex: 1;
}

.weatherData > div:nth-child(5) {
  margin-top: 1.6rem;
}

.searchContainer > ul > li:hover {
  background-color: var(--color-two);
}

.cityName {
  font-size: 1.5rem;
}

.weatherData > div.clouds {
  margin-top: 0;
}

.weatherData > div.clouds > span {
  font-size: 0.7rem;
  margin: 0;
  text-align: center;
  border: none;
}

.temp {
  background-color: var(--color-one);
  border-radius: 1.6rem;
  display: flex;
  align-items: center;
  position: relative;
}

.temp::after {
  content: 'C';
  position: absolute;
  right: -20px;
  color: var(--color-one);
  font-size: 2rem;
}

.weatherData > div.temp > span {
  font-size: 1rem;
  text-align: center;
  color: var(--color-four);
  font-weight: 900;
  border: none;
  margin: 0;
  padding: 0.5rem;
  flex: 1;
  position: relative;
}

.weatherData > div.temp > span > span {
  position: absolute;
  font-size: 0.7rem;
  bottom: -20px;
  right: 25%;
  color: var(--color-one);
}

.weatherData > div.temp > span:first-child {
  font-size: 1.6rem;
}

.weatherData > div.temp > span:first-child::after {
  content: '';
  border: 2px solid var(--color-one);
  border-right: 2px solid var(--color-four);
  opacity: 0.9;
  border-radius: 50%;
  height: 150%;
  width: 100%;
  position: absolute;
  right: 5%;
  bottom: -25%;
}

#icon {
  height: 5rem;
}

.pressure,
.humidity,
.wind,
.feelsLike {
  position: relative;
}

.pressure::before,
.humidity::before,
.wind::before,
.feelsLike::before {
  position: absolute;
  left: -30px;
  top: 20px;
  width: 30px;
}

.pressure::before {
  content: url('../icons/wi-barometer.svg');
}

.wind::before {
  content: url('../icons/wi-wind-deg.svg');
}

.humidity::before {
  content: url('../icons/wi-humidity.svg');
}

.feelsLike::before {
  content: url('../icons/wi-thermometer.svg ');
  color: var(--color-one);
}
